{% load static %}

<table id="myTable">
  <tr class="header">
    <th style="width:60%;">Region</th>
    <th style="width:40%;">Converted time</th>
  </tr>
<tr>
<td> Africa/Abidjan </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Accra </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Addis_Ababa </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Algiers </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Asmara </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Bamako </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Bangui </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Banjul </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Bissau </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Blantyre </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Brazzaville </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Bujumbura </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Cairo </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Casablanca </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Ceuta </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Conakry </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Dakar </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Dar_es_Salaam </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Djibouti </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/El_Aaiun </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Freetown </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Gaborone </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Harare </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Johannesburg </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Juba </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Kampala </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Khartoum </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Kigali </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Kinshasa </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Lagos </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Libreville </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Lome </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Luanda </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Lubumbashi </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Lusaka </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Malabo </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Maputo </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Maseru </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Mbabane </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Mogadishu </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Monrovia </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Nairobi </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Ndjamena </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Niamey </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Nouakchott </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Ouagadougou </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Porto-Novo </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Sao_Tome </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Tripoli </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Tunis </td>
<td> no-date </td>
</tr>
<tr>
<td> Africa/Windhoek </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Anchorage </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Anguilla </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Antigua </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Araguaina </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Argentina/Buenos_Aires </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Argentina/Catamarca </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Argentina/Cordoba </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Argentina/Jujuy </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Argentina/La_Rioja </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Argentina/Mendoza </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Argentina/Rio_Gallegos </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Argentina/Salta </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Argentina/San_Juan </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Argentina/San_Luis </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Argentina/Tucuman </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Argentina/Ushuaia </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Aruba </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Asuncion </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Bahia </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Barbados </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Belem </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Belize </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Boa_Vista </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Bogota </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Campo_Grande </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Cancun </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Caracas </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Cayenne </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Cayman </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Chicago </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Chihuahua </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Costa_Rica </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Cuiaba </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Curacao </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Denver </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Dominica </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Edmonton </td>
<td> no-date </td>
</tr>
<tr>
<td> America/El_Salvador </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Fortaleza </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Godthab </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Grand_Turk </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Grenada </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Guadeloupe </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Guatemala </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Guayaquil </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Guyana </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Halifax </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Havana </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Hermosillo </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Indiana/Indianapolis </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Jamaica </td>
<td> no-date </td>
</tr>
<tr>
<td> America/La_Paz </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Lima </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Los_Angeles </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Maceio </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Managua </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Manaus </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Marigot </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Martinique </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Mazatlan </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Merida </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Mexico_City </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Miquelon </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Monterrey </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Montevideo </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Montreal </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Montserrat </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Nassau </td>
<td> no-date </td>
</tr>
<tr>
<td> America/New_York </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Panama </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Paramaribo </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Phoenix </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Port-au-Prince </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Port_of_Spain </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Porto_Velho </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Puerto_Rico </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Rankin_Inlet </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Recife </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Regina </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Rio_Branco </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Santiago </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Santo_Domingo </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Sao_Paulo </td>
<td> no-date </td>
</tr>
<tr>
<td> America/St_Barthelemy </td>
<td> no-date </td>
</tr>
<tr>
<td> America/St_Johns </td>
<td> no-date </td>
</tr>
<tr>
<td> America/St_Kitts </td>
<td> no-date </td>
</tr>
<tr>
<td> America/St_Lucia </td>
<td> no-date </td>
</tr>
<tr>
<td> America/St_Thomas </td>
<td> no-date </td>
</tr>
<tr>
<td> America/St_Vincent </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Tegucigalpa </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Thule </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Tijuana </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Toronto </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Tortola </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Vancouver </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Whitehorse </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Winnipeg </td>
<td> no-date </td>
</tr>
<tr>
<td> America/Yellowknife </td>
<td> no-date </td>
</tr>
<tr>
<td> Antarctica/South_Pole </td>
<td> no-date </td>
</tr>
<tr>
<td> Antarctica/Syowa </td>
<td> no-date </td>
</tr>
<tr>
<td> Arctic/Longyearbyen </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Aden </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Almaty </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Amman </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Anadyr </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Aqtau </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Aqtobe </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Ashgabat </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Baghdad </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Bahrain </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Baku </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Bangkok </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Beirut </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Bishkek </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Brunei </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Choibalsan </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Chongqing </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Colombo </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Damascus </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Dhaka </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Dili </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Dubai </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Dushanbe </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Gaza </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Harbin </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Hong_Kong </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Hovd </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Irkutsk </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Istanbul </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Jakarta </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Jayapura </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Jerusalem </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Kabul </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Kamchatka </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Karachi </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Kathmandu </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Kolkata </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Krasnoyarsk </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Kuala_Lumpur </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Kuching </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Kuwait </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Macau </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Magadan </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Makassar </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Manila </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Muscat </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Nicosia </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Novokuznetsk </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Novosibirsk </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Omsk </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Oral </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Phnom_Penh </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Pontianak </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Pyongyang </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Qatar </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Qyzylorda </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Rangoon </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Riyadh </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Sakhalin </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Samarkand </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Seoul </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Shanghai </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Singapore </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Taipei </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Tashkent </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Tbilisi </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Tehran </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Thimphu </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Tokyo </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Ulaanbaatar </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Urumqi </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Vientiane </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Vladivostok </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Yakutsk </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Yekaterinburg </td>
<td> no-date </td>
</tr>
<tr>
<td> Asia/Yerevan </td>
<td> no-date </td>
</tr>
<tr>
<td> Atlantic/Azores </td>
<td> no-date </td>
</tr>
<tr>
<td> Atlantic/Bermuda </td>
<td> no-date </td>
</tr>
<tr>
<td> Atlantic/Canary </td>
<td> no-date </td>
</tr>
<tr>
<td> Atlantic/Cape_Verde </td>
<td> no-date </td>
</tr>
<tr>
<td> Atlantic/Faroe </td>
<td> no-date </td>
</tr>
<tr>
<td> Atlantic/Madeira </td>
<td> no-date </td>
</tr>
<tr>
<td> Atlantic/Reykjavik </td>
<td> no-date </td>
</tr>
<tr>
<td> Atlantic/South_Georgia </td>
<td> no-date </td>
</tr>
<tr>
<td> Atlantic/Stanley </td>
<td> no-date </td>
</tr>
<tr>
<td> Atlantic/St_Helena </td>
<td> no-date </td>
</tr>
<tr>
<td> Australia/Adelaide </td>
<td> no-date </td>
</tr>
<tr>
<td> Australia/Brisbane </td>
<td> no-date </td>
</tr>
<tr>
<td> Australia/Darwin </td>
<td> no-date </td>
</tr>
<tr>
<td> Australia/Hobart </td>
<td> no-date </td>
</tr>
<tr>
<td> Australia/Melbourne </td>
<td> no-date </td>
</tr>
<tr>
<td> Australia/Perth </td>
<td> no-date </td>
</tr>
<tr>
<td> Australia/Sydney </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Amsterdam </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Andorra </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Athens </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Belgrade </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Berlin </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Bratislava </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Brussels </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Bucharest </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Budapest </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Chisinau </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Copenhagen </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Dublin </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Gibraltar </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Guernsey </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Helsinki </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Isle_of_Man </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Jersey </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Kaliningrad </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Kiev </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Lisbon </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Ljubljana </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/London </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Luxembourg </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Madrid </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Malta </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Mariehamn </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Minsk </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Monaco </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Moscow </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Oslo </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Paris </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Podgorica </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Prague </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Riga </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Rome </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Samara </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/San_Marino </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Sarajevo </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Simferopol </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Skopje </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Sofia </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Stockholm </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Tallinn </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Tirane </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Uzhgorod </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Vaduz </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Vatican </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Vienna </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Vilnius </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Volgograd </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Warsaw </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Zagreb </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Zaporozhye </td>
<td> no-date </td>
</tr>
<tr>
<td> Europe/Zurich </td>
<td> no-date </td>
</tr>
<tr>
<td> Indian/Antananarivo </td>
<td> no-date </td>
</tr>
<tr>
<td> Indian/Chagos </td>
<td> no-date </td>
</tr>
<tr>
<td> Indian/Christmas </td>
<td> no-date </td>
</tr>
<tr>
<td> Indian/Cocos </td>
<td> no-date </td>
</tr>
<tr>
<td> Indian/Comoro </td>
<td> no-date </td>
</tr>
<tr>
<td> Indian/Kerguelen </td>
<td> no-date </td>
</tr>
<tr>
<td> Indian/Mahe </td>
<td> no-date </td>
</tr>
<tr>
<td> Indian/Maldives </td>
<td> no-date </td>
</tr>
<tr>
<td> Indian/Mauritius </td>
<td> no-date </td>
</tr>
<tr>
<td> Indian/Mayotte </td>
<td> no-date </td>
</tr>
<tr>
<td> Indian/Reunion </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Auckland </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Chatham </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Efate </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Fakaofo </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Fiji </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Funafuti </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Galapagos </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Guadalcanal </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Guam </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Honolulu </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Kwajalein </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Marquesas </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Nauru </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Niue </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Norfolk </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Noumea </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Pago_Pago </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Palau </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Pitcairn </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Pohnpei </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Port_Moresby </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Rarotonga </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Saipan </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Tarawa </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Tongatapu </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Wake </td>
<td> no-date </td>
</tr>
<tr>
<td> Pacific/Wallis </td>
<td> no-date </td>
</tr>
</table>
